.container {
  border-radius: 0.4rem;
  bottom: 8rem;
  box-shadow: 11px 5px 31px -6px rgba(0, 0, 0, 0.75);
  left: 1rem;
  padding: 1rem;
  position: fixed;
  z-index: 1000;
}

.success {
  background: var(--success-color);
}

.failure {
  background: var(--failure-color);
}
