:root {
  --font-family: "Arial", sans-serif;
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  font-size: 62.5%; /* 1rem = 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  color: #333;
  font-family: var(--font-family);
  font-size: 1.6rem; /* 16px */
  line-height: 1.6;
  padding-bottom: 3.5rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #fff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5rem;
  font-weight: 600;
}

p {
  margin-bottom: 1.5rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
