.container {
  ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 0 1.6rem;

    li {
      flex-shrink: 0;
      margin-bottom: 1rem;
    }
  }

  :global(.app-root) &:not(.isOnHome) ul {
    @media (min-width: 768px) {
      gap: 1rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

:global(.app-root) .isOnHome ul {
  flex-direction: row;
  margin-bottom: 0;
  max-width: 100%;
  overflow-x: auto;

  @media (min-width: 768px) {
    margin: 0 auto;
    width: fit-content;
  }

  li {
    margin: 0 1rem;
    max-width: 14.2rem;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
