.container {
  ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 0 1.6rem;

    li {
      margin-bottom: 1rem;
    }
  }
}

.isOnHome ul {
  flex-direction: row;
  margin-bottom: 0;
  max-width: 100%;
  overflow-x: auto;

  li {
    margin: 0 1rem;
  }
}
